body{
    background-color: rgb(250, 249, 249);
    font-family: 'Montserrat-Black', sans-serif;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.2rem;
    font-weight: bold;
}
.nav-link{
    font-family: 'Montserrat-light', sans-serif;
}
.container-fluid{
    padding: 3% 2%;
}
.col-md-9{
    text-align: center;
}
.show-images{
    width:100%;   
}
.carousel{
    background-color: rgb(97, 97, 97);
}
.row1{
    width:100%;
}
.bottom-container{
    margin-top: 2rem;
}
a{
    text-decoration: none;
}
h4, .p{
    color:#fff;
}
.feature-box{
    margin-top: 1.5rem;
    color: rgb(173, 169, 169);
}
.feature-box:hover{
    color: #000;
}

